.addMember-responsive{display: none}

@media
only screen and (max-width: 760px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

    /* Hide table headers (but not display: none;, for accessibility) */
    thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    tr { border: 1px solid #ccc; }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 50%;
    }

    .td-bills:before {
        /* Now like a table header */
      /*position: absolute;*/
        /* Top/left values mimic padding */
        top: 6px;
        left: 6px;
        width: 50%;
        padding-right: 10px;
        white-space: nowrap;
    }
    .heading-responsive{font-size: 18px}
   .addMember-responsive{display: block}
    /*
    Label the data
    */
    .td-bills:nth-of-type(1):before { content: "Date:"; }
    .td-bills:nth-of-type(2):before { content: "Paid By:"; }
    .td-bills:nth-of-type(3):before { content: "Description:"; }
    .td-bills:nth-of-type(4):before { content: "Paid Amount:"; }
    .td-bills:nth-of-type(5):before { content: "Split Amount:"; }
    .td-bills:nth-of-type(6):before { content: "Split On:"; }

.span-responsive{display: block;  }

}